# Ignore node_modules directory
node_modules/

# Ignore temporary files and directories
*.log
*.tmp
*.bak

# Ignore compiled binaries
*.o
*.a
*.out
*.so

# Ignore downloaded sources if necessary
lfs-data/sources/

# Ignore Python bytecodes
__pycache__/
